
PATHNAME="/work/$USER/ClimateData/"
INPUT="/data/hicam/data/processed/meteo/europe/climproj/euro-cordex/88realizations_mhm/" 
LONRANGE=1664
LATRANGE=1168
CHUNKS=300
OUTPUT="output/"
CALCULATIONS="climateInterCalculations/"
MININPUT="/work/$USER/tmin/"
SOILDATA="/data/hicam/data/processed/mhm_output/eu_hicam/v2_climproj/calib053/"
